.App-header{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}
.wrapper{
  background:rgb(232, 218, 218);
  padding:10px;
  min-width: 90vw;
  border-radius: 2%;
}
.input-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.input-wrapper input{
  margin:20px;
  border-radius: 4%;
  border: 0;
  background-color: #ede7fe;
  width: 80vw;
  padding:10px;
  height: 20px;
}
.input-wrapper button{
  width:30px;
  height:20px;
  border-radius: 50%;
  padding:0;
  outline: none;
}